/**
 * Blog styles
 */
.content-column .view-blog .views-field-field-blog-image-fid {
  clear: left;
  float: left;
  margin-right: 20px;
}
.content-column .view-blog .views-field-created {
  clear: both;
  float: left;
  width: 170px;
}
.content-column .view-blog .views-field-name {
  clear: both;
  float: left;
  width: 170px;
}
.content-column .view-blog .views-field-title {
  font-size: 18px;
}
.content-column .view-blog .views-field-view-node {
  clear: both;
  text-align: right;
}
